{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "env": {
    "utils": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "not ie <= 8"
              ]
            }
          }
        ],
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "cube-block"
            ],
            "alias": {
              "cube-block/src": "cube-block/lib",
              "cube-block/packages": "cube-block/lib"
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}